* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  counter-reset: list;
  font-family: "Montserrat", "PT Sans", sans-serif;
  /* font-family: , sans-serif; */
  padding: 0 40px;
}

.box {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "discription counters"
    "inputBlock diagram"
    "legend diagram";
  margin-top: 100px;
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: 0.01em;
  color: #212121;
}
.discription {
  grid-area: discription;
  max-width: 590px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #505361;
  margin-bottom: 50px;
}
.counters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: counters;
}
.counters div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 240px;
  height: 110px;
  background: rgba(188, 154, 244, 0.3);
  border-radius: 6px;
  margin-left: 24px;
}
.counters div:hover {
  background: rgba(188, 154, 244, 0.5);
  transition: 0.2s ease-in-out;
}

.counter {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #212121;
}
.couterTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: #4b4b4b;
}
.inputBlock {
  grid-area: inputBlock;
  max-width: 590px;
  background: #e2e5ee;
  height: 210px;

  padding: 30px 50px 50px 50px;
  border-radius: 6px;
}
.inputBlock p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  max-width: 360px;
  margin-bottom: 40px;
}
.inputBlockWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50;
}

.input {
  min-width: 246px;
  max-width: 308px;
  width: 100%;
  height: 44px;
  margin-left: 20px;
  background: #ffffff;
  border: 1px solid #e2e5ee;
  box-sizing: border-box;
  border-radius: 6px;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #212121;
  text-indent: 20px;
}
.inputBlockWrapper span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #323232;
  margin-left: 20px;
}
.diagram {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: diagram;
  max-height: 283px;
  background: #ffffff;
  border: 1px solid #e2e5ee;
  box-sizing: border-box;
  border-radius: 6px;
}
.diagram span {
  display: none;
}
#myChart {
  max-width: 701px;
  max-height: 209px;
  width: 100%;
  margin: 37px 20px 37px 20px;
}

.legend {
  grid-area: legend;
  max-width: 590px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #717171;
}

@media (max-width: 960px) {
  .title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #212121;
  }

  .box {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "title title"
      "discription discription "
      "inputBlock counters"
      " diagram diagram"
      "legend legend";
    margin-top: 100px;
  }
  .discription {
    grid-area: discription;
    max-width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #505361;
    margin-bottom: 50px;
  }

  .counters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: counters;
  }
  .counters div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 348px;
    height: 92px;
    background: rgba(188, 154, 244, 0.3);
    border-radius: 6px;
  }

  .counter {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .couterTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #4b4b4b;
  }

  .inputBlock {
    grid-area: inputBlock;
    max-width: 500px;
    width: 100%;
    background: #e2e5ee;
    height: 206px;

    padding: 30px 50px 50px 50px;
  }

  .inputBlockWrapper span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #323232;
    margin-left: 20px;
  }

  .input {
    /* min-width: 200px; */
    width: 100%;
    max-width: 270px;
    font-size: 18px;
    line-height: 31px;
  }
  .diagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: diagram;
    width: 100%;
    margin-top: 30px;
  }

  #myChart {
    max-width: 772px;
    max-height: 209px;
    width: 100%;
    margin: 37px 50px 37px 60px;
  }

  /* .diagram img {
    width: 100%;
    max-height: 283px;
  } */

  .legend {
    margin-top: 30px;
    text-align: left;
    max-width: 492px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 415px) {
  body {
    padding: 0;
  }
  .title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #212121;
  }

  .box {
    display: grid;
    /* max-width: 1440px; */
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title title"
      "discription discription "
      "inputBlock inputBlock"
      " counters counters"
      " diagram diagram"
      "legend legend";
    margin-top: 100px;
  }
  .discription {
    grid-area: discription;
    max-width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #505361;
    /* margin-bottom: 50px; */
    padding: 0px 20px;
  }

  .inputBlock {
    grid-area: inputBlock;
    max-width: 414px;
    background: #e2e5ee;
    height: auto;

    padding: 24px 20px 30px 20px;
    border-radius: 0px;
  }
  .inputBlock p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #212121;
    max-width: 283px;
    margin-bottom: 30px;
  }
  .inputBlockWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50;
  }

  .input {
    min-width: 100px;
    width: 283px;
    /* width: 100%; */
    height: 40px;
    margin-left: 16px;
    background: #ffffff;
    border: 1px solid #e2e5ee;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 15px;
    line-height: 26px;
  }

  .inputBlockWrapper svg {
    min-width: 26px;
    height: 26px;
  }
  .inputBlockWrapper span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #323232;
    margin-left: 16px;
  }

  .counters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: counters;
    margin: 16px 20px 0px 20px;
  }

  .counter {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .couterTitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #4b4b4b;
  }

  .counters div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    max-width: 179px;
    width: 100%;
    height: 92px;
    background: rgba(188, 154, 244, 0.3);
    border-radius: 6px;
    margin-left: 0;
  }
  .counters div:nth-child(1) {
    margin-right: 16px;
  }
  .diagram {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    grid-area: diagram;
    max-width: 414px;
    max-height: auto;
    margin-top: 16px;
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #myChart {
    max-width: 374px;
    max-height: 158px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .diagram span {
    display: inline-block;
    padding: 16px 0px 16px 0px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #212121;
  }

  .legend {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin: 30px 20px 50px 20px;
    text-align: left;
    max-width: 492px;
  }
}
